language: ruby
gemfile: Gemfile.ci

# User container based travis infrastructure which allows caching
# features for open source projects.
sudo: false
cache: bundler

env:
  - PUBLISH_THEME_DOC=true

before_install:
- nvm install stable

script:
- bundle exec publish-pageflow-theme-doc
