@include pageflow-page-type(external_links);

.external-links-page {

  .ext-links {
    pointer-events: all;
    position: relative;
    margin-left: -10px;
    @include transition(opacity 0.5s);

    .hideText & {
      @include transform(translate(-100%, 0));
    }

    @include phone {
      height: auto;
    }

    > div {
      @include desktop {
        display: table;
        border-collapse: separate;
        border-spacing: 10px;
      }
    }
  }

  .arrow-forward, .arrow-back {
    position: relative;
    top: 100%;
    width: 80px;
    height: 80px;
    pointer-events: all;
    text-decoration: none;

    &:before {
      content: "\f105";
      font-family: "FontAwesome";
      color: white;
      width: 100%;
      position: absolute;
      height: 100%;
      text-align: center;
      line-height: 80px;
      font-size: 80px;
      opacity: 0.9;
      text-shadow: 2px 2px 7px black, -1px -1px 7px black;
      @include transition(opacity 0.3s);
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }

    .invert & {
      &:before {
        color: black;
        text-shadow: 2px 2px 7px black, -1px -1px 7px white;
      }
    }

    @include phone {
      display: none !important;
    }
  }

  .arrow-back {

    &:before {
      content: "\f104";
    }
  }
  .arrow-forward {
    float: right;
  }

  #horizontal_scroller {
    position: absolute;
    text-align: center;

    .js & {
      white-space: nowrap;

      @include phone {
        white-space: normal;
        position: relative;
      }
    }

    @include phone {
      white-space: normal;
      position: relative;
    }
  }

  .link-item {
    display: inline-block;
    position: relative;
    width: 250px;
    max-width: 250px;
    vertical-align: top;
    overflow: hidden;
    text-align: left;
    margin-right: 10px;
    @include transition(0.3s);

    @include desktop {
      display: table-cell;
    }

    &.no_text {
      height: auto;

      .link-details {
        display: none;
      }
    }

    &:hover {
      @include transform(scale(1.05));

      @include phone {
        @include transform(scale(1));
      }
    }
    @include phone {
      width: 230px;
      max-width: 230px;
      margin-bottom: 10px;
      margin-right: 5px;
      margin-left: 5px;
    }

    &:last-child {
    }

    .link-thumbnail {
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 56.25%;
      position: relative;
      width: 250px;

      @include phone {
        width: 230px;
      }

      .file_thumbnail {
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }

    .link-details {
      p {
        width: 100%;
        white-space: normal;
      }

      .link-title {
        width: 100%;
        overflow: hidden;
      }
    }
  }
}
