<a class="back">Externe Verweise</a>
<a class="destroy">Löschen</a>

<div class="failure">
  <p>Beim Speichern des externen Verweises ist ein Problem aufgetreten.</p>
  <p class="message"></p>
  <a class="retry" href="">Erneut versuchen</a>
</div>

<div class="form_container"></div>
