<div class="box">
  <h2><%= I18n.t('pageflow.external_links.editor.templates.site_selection.title') %></h2>

  <div class="wrapper editor">
    <ul class="external_sites">
    </ul>
  </div>

  <div class="footer">
    <a href="" class="close"><%= I18n.t('pageflow.external_links.editor.templates.site_selection.cancel') %></a>
  </div>
</div>
