<div class="box">
  <h1 class="dialog-header"><%= I18n.t('pageflow.external_links.editor.templates.site_selection.title') %></h1>

  <div class="content">
    <ul class="external_sites">
    </ul>
  </div>

  <div class="footer">
    <a href="" class="close"><%= I18n.t('pageflow.external_links.editor.templates.site_selection.cancel') %></a>
  </div>
</div>
