<a href="">
  <span class="thumbnail"></span>
  <span class="title"></span>
  <a class="edit" title="<%= I18n.t('pageflow.external_links.editor.templates.site_reference_item.edit') %>"></a>
  <a class="remove" title="<%= I18n.t('pageflow.external_links.editor.templates.site_reference_item.remove') %>"></a>
</a>
