.ext-links {
  .tooltip {
    position: absolute;
    left: 50%;
    top: 102px;
    width: 180px;
    padding: 5px;
    margin-left: -95px;

    background-color: #444;
    color: #fff;
    border: solid 1px #fff;
    opacity: 0.7;
    font-size: 13px;
    text-align: center;
    white-space: normal;

    span {
      display: block;
      color: #fff;
      text-decoration: underline;
    }
  }
}