<%= link_to(site.url,
            class: external_links_site_css_class(site),
            target: site.open_in_new_tab? ? '_blank' : nil) do %>

  <%= content_tag(:div, '', class: external_links_site_thumbnail_css_class(site)) %>
  <div class="link-details">
    <p class="link-title"><%= site.title %></p>
    <p class="link-description"><%= raw(site.description) %></p>
  </div>
<% end %>
