@import "./editor/embedded";
@import "./editor/site_selection";

.editor {
  @import "./editor/external_sites";

  .manage_external_sites {
    a.add {
      @include plus-circled-icon;
      @include icon-button("primary");
      position: absolute;
      top: 0;
      right: 0;
    }
  }

.external_links_site_references_input {
  .add_reference {
    @include plus-circled-icon;
    @include icon-button;
  }

  ul.sites {
    margin-bottom: 10px;
  }

  a.remove {
    @include icon-only-button("destructive");
    @include trash-icon;
    position: absolute;
    right: 4px;
    top: 3px;
  }

  a.edit {
    @include icon-only-button;
    @include pencil-icon;
    position: absolute;
    right: 40px;
    top: 3px;
  }

  .external_links_site_reference {
    margin-bottom: 2px;

    > a:first-child {
      position: relative;
      padding-left: 45px;
      cursor: default;
      text-decoration: none;
    }

    .thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 35px;
      cursor: move;
      background-size: cover;
      background-color: var(--ui-on-surface-color-light);
    }
  }
}
}
