@import "./editor/embedded";

.editor {
  @import "./editor/external_sites";

  .manage_external_sites {
    a.add {
      @include plus-circled-icon;
      @include icon-button;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

.external_links_site_references_input {
  .add_reference {
    @include plus-circled-icon;
    @include icon-button;
  }

  ul.sites {
    margin-bottom: 10px;
  }

  a.remove {
    @include icon-only-button(#aaa);
    @include trash-icon;
    position: absolute;
    right: 4px;
    top: 4px;
  }

  a.edit {
    @include icon-only-button(#aaa);
    @include pencil-icon;
    position: absolute;
    right: 40px;
    top: 4px;
  }

  .external_links_site_reference {
    margin-bottom: 2px;

    > a:first-child {
      padding-left: 45px;
      cursor: default;
    }

    .thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      height: 35px;
      width: 35px;
      cursor: move;
      background-size: cover;
      background-color: #444;
    }
  }
}
}