<div class="link-thumbnail"></div>
<div class="link-details">
  <p class="link-title"></p>
  <p class="link-description"></p>
</div>
<div class="tooltip">
  Öffnen im selben Tab ist im Editor deaktiviert.
  <span target="_blank">Seite in neuem Tab ansehen</span>
</div>
